* {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}

h1 {
    font-weight: bold;
}

p {
    font-size: 1.5em;
}

.column {
    display: flex;
    flex: 1;
    align-items: stretch;
    width: 100%;
    height: 100vh;
}

.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5em;
    width: fit-content;
}

.field label {
    margin-bottom: 0.5em;
}


::deep .input {
    width: 350px;
}

#rightSide {
    background: rgba(255, 128, 0, 1);
    color: white;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#loginspace {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login {
    background: rgba(255, 128, 0, 1);
    color: white;
    width: 100px;
}

#leftSide {
    color: rgba(255, 128, 0, 1);
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

#registerspace {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#register {
    background: white;
    width: 100px;
}

