# template for a .env file
CON_STR="Host=<HOST-NAME>;Port=5432;Database=<database-name>;UserId=<user-id>;Password=<password>;Pooling=true;MinPoolSize=5;MaxPoolSize=20;"

# Database Configuration
POSTGRES_USER=<user-id>
POSTGRES_PASSWORD=<password>
POSTGRES_DB=<database-name>

# PGAdmin Configuration
PGADMIN_DEFAULT_EMAIL=<test@mail.mail>
PGADMIN_DEFAULT_PASSWORD=<password>