<!-- LoginLayout.razor -->
@inherits LayoutComponentBase

<main>
    @Body
</main>

<style>
    main {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    body, html {
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
</style>