@page "/login"
@using System.ComponentModel.DataAnnotations

<div class="column">
<div id="leftSide" class="half">
    <h1>WagerMate</h1>

    <p>Welcome Back!</p>

    <EditForm Model="@existingUserData" FormName="test1">
        <div class="field">
            <div><label>E-mail address:</label></div>
            <InputText class="input" @bind-Value="existingUserData.EMail"/>
        </div>
        <div class="field">
            <div><label>Password:</label></div>
            <InputText class="input" @bind-Value="existingUserData.Password"/>
        </div>
        <div><input id="login" type="submit" value="Log in" @onclick="@Save"/></div>
    </EditForm>
</div>

<div id="rightSide" class="half">
    <h1>WagerMate</h1>

    <p>Welcome Mate!</p>

    <EditForm Model="@newUserData" FormName="test2">
        <div class="field">
            <div><label>Username:</label></div>
            <InputText class="input" @bind-Value="newUserData.Username"/>
        </div>
        <div class="field">
            <div><label>E-mail address:</label></div>
            <InputText class="input" @bind-Value="newUserData.EMail"/>
        </div>
        <div class="field">
            <div><label>Password:</label></div>
            <InputText class="input" @bind-Value="newUserData.Password"/>
        </div>
        <div class="field">
            <div><label>Repeat Password:</label></div>
            <InputText class="input" @bind-Value="newUserData.PasswordRepeat"/>
        </div>
        <div><input id="register" type="submit" value="Register" @onclick="@Save"/></div>
    </EditForm>
</div>
</div>



@code {
    private ExistingUserData existingUserData = new ExistingUserData();
    
    public class ExistingUserData
    {
        public string EMail { get; set; }
        public string Password { get; set; }
    }

    private NewUserData newUserData = new NewUserData();

    public class NewUserData
    {
        public string EMail { get; set; }
        public string Username { get; set; }
        public string Password { get; set; }
        public string PasswordRepeat { get; set; }
    }
    
    public void Save()
    {
        Console.WriteLine(existingUserData.EMail);
        Console.WriteLine(existingUserData.Password);
    }
}