*{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}

h1{
    font-weight: bold;
}

p{
    font-size: 1.5em;
}

#betOverviewPage{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto auto; 
    gap: 10px; 
}

#placeholder{
    border: 2px solid #ff8000;
    padding: 10px;
    grid-column: 1;
    grid-row: 1;
}

#creatNewBet{
    border: 2px solid maroon;    
    padding: 10px;
    grid-column: 2;
    grid-row: 1;
}

#allBets{
    border: 2px solid #157347;
    padding: 10px;
    grid-row: 2;
    grid-column: 1/ span 2;
}

#allBetsLayout{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

#individualBet{
    border: 2px solid #157347;
}