* {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}

h1 {
    font-weight: bold;
}

p {
    font-size: 1.5em;
}

#betOverviewPage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
    transition: filter 0.3s ease;
}

#placeholder {
    background: rgba(255, 188, 146, 0.6);
    color: white;
    text-align: center;
    padding: 10px;
    grid-column: 1;
    grid-row: 1;
    border-radius: 20px;
}

#creatNewBet {
    background-image: linear-gradient(180deg, rgb(255, 94, 0) 0%, #FF8000 70%);
    color: white;
    padding: 10px;
    grid-column: 2;
    grid-row: 1;
    border-radius: 20px;
    text-align: center;
}

#allBets {
    padding: 10px;
    grid-row: 2;
    grid-column: 1/ span 2;
}

#allBetsLayout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

#popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Dark background overlay */
    z-index: 999;
    display: none; /* Hidden by default */
}

#popup-overlay.active {
    display: block; /* Show overlay when active */
}

#popup-content {
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 1000;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border: 2px;
    border-radius: 30px;
}

#individualBet {
    border: 2px solid rgba(255, 128, 0, 0.5);
    background: rgba(255, 128, 0, 0.5);
    padding: 8px;
    border-radius: 20px;
    cursor: pointer;
}

#h2PopUpCreateNewBet {
    background-image: linear-gradient(180deg, rgb(255, 94, 0) 0%, #FF8000 70%);
    color: white;
    padding: 8px;
    margin: 1px;
    border-radius: 10px;
}

#h2PopUpBetDetails {
    background-image: linear-gradient(180deg, rgb(255, 94, 0) 0%, #FF8000 70%);
    color: white;
    padding: 8px;
    margin: 1px;
    border-radius: 10px;
}

.cancel-button {
    width: 100%;
    padding: 10px;
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cancel-button:hover {
    background-color: #c9302c;
}

.detail-label {
    font-size: 5em !important;
}


