@page "/db"
@using System.ComponentModel.DataAnnotations
@using WagerMate.Data
@using WagerMate.Services
@rendermode InteractiveServer
<PageTitle>Database</PageTitle>
<h3>Database</h3>

<p>This page displays data from Postgresdb</p>
<br>
<br>
<p>These buttons display data for users</p>

@inject IUserService Service;
<button class="btn btn-primary" @onclick="DeleteUser">DeleteUser</button>
<button class="btn btn-primary" @onclick="CreateUser">CreateUser</button>
<button class="btn btn-primary" @onclick="CreateUser2">CreateUser2</button>
<button class="btn btn-primary" @onclick="GetAllUsers">getAllUsers(Console)</button>
<button class="btn btn-primary" @onclick="UpdateUser">UpdateUser</button>
<button class="btn btn-primary" @onclick="GetUserByIdConsole">GetUserByIdConsole</button>
@inject IBetService Service2;
<br>
<br>
<p>These buttons display data for bets</p>
<button class="btn btn-primary" @onclick="DeleteBet">DeleteBet</button>
<button class="btn btn-primary" @onclick="CreateBet">CreateBet</button>
<button class="btn btn-primary" @onclick="CreateBet2">CreateBet2</button>
<button class="btn btn-primary" @onclick="GetAllBets">getAllBets(Console)</button>
<button class="btn btn-primary" @onclick="UpdateBet">UpdateBet</button>
<button class="btn btn-primary" @onclick="GetBetByIdConsole">GetBetByIdConsole</button>
<br>
<br>
<p>These buttons display data for wageritems</p>

@inject IWagerItemService Service3;
<button class="btn btn-primary" @onclick="DeleteWagerItem">DeleteWagerItem</button>
<button class="btn btn-primary" @onclick="CreateWagerItem">CreateWagerItem</button>
<button class="btn btn-primary" @onclick="CreateWagerItem2">CreateWagerItem2</button>
<button class="btn btn-primary" @onclick="GetAllWagerItems">getAllWagerItem(Console)</button>
<button class="btn btn-primary" @onclick="UpdateWagerItem">UpdateWagerItem</button>
<button class="btn btn-primary" @onclick="GetWagerItemByIdConsole">GetWagerItemByIdConsole</button>
<br>
<br>
<p>These buttons display data for userwagers</p>

@inject IUserBetService Service4;
<button class="btn btn-primary" @onclick="AddUserWager">CreateUserBet</button>
<button class="btn btn-primary" @onclick="DeleteUserWager">DeleteUserBet</button>
<button class="btn btn-primary" @onclick="DeleteUserWager2">DeleteUserBet2</button>
<button class="btn btn-primary" @onclick="GetUserWagerById">GetUserBetById</button>
<button class="btn btn-primary" @onclick="GetAllUserIdsFromBet">GetAllUserIdsFromBet</button>
@code {

    public void GetUserByIdConsole()
    {
        try
        {
            var result = Service.GetUserById(47);
            Console.WriteLine(result.Name);
            Console.WriteLine(result.Id);
        }
        catch (Exception e)
        {
            Console.WriteLine("Getuserbyid failed");
            Console.WriteLine(e);
        }
    }

    public void UpdateUser()
    {
        User updatedU = new User();
        updatedU.Name = "1update";
        updatedU.Email = "1updat@email";
        updatedU.Password = "1updatedPW";
        updatedU.Id = 47;

        var result = Service.UpdateUser(updatedU);
        Console.WriteLine($"Updating User succesful: {result}");
    }

    private void GetAllUsers()
    {
        Console.WriteLine("Get ALl Users executing: ");
        var result = Service.GetAllUsers();
        foreach (var user in result)
        {
            Console.WriteLine(user.Name);
        }
    }

    private void DeleteUser()
    {
        Console.WriteLine("DeleteUser");
        Service.DeleteUser(51);
    }

    private void CreateUser()
    {
        Console.WriteLine("CreateUser");
        Service.CreateUser(InitUser());
    }

    private void CreateUser2()
    {
        Console.WriteLine("CreateUser2");
        // create dummy user
        User user2 = new User();
        
        user2.Name = "user2";
        user2.Email = "user2com";
        user2.Password = "12345";

        Console.WriteLine("user locally created");
        try
        {
            Service.CreateUser(user2);
        }
        catch (Exception e)
        {
            Console.WriteLine("service failed");
        }
    }

    public User InitUser()
    {
        User user = new User();
        user.Name = "tobi";
        user.Email = "tobicom";
        user.Password = "1234";
        return user;
    }
    
    // Test for bets
    public void GetBetByIdConsole()
    {
        try
        {
            var result = Service2.GetBetById(47);
            Console.WriteLine(result.Id);
            Console.WriteLine(result.Description);
        }
        catch (Exception e)
        {
            Console.WriteLine("Getbetbyid failed");
            Console.WriteLine(e);
        }
    }

    public void UpdateBet()
    {
        Bet updatedB = new Bet();
        updatedB.Title = "Updated Titel";
        updatedB.Description = "updated description";
        updatedB.InvitationCode = "ALJFKDKJFSDL";
        updatedB.BetAccess = Access.Restricted;
        updatedB.BetState = State.Closed;
        updatedB.Id = 47;

        var result = Service2.UpdateBet(updatedB);
        Console.WriteLine($"Updating Bet succesful: {result}");
    }

    private void GetAllBets()
    {
        Console.WriteLine("Get ALl Bets executing: ");
        var result = Service2.GetAllBets();
        foreach (var bet in result)
        {
            Console.WriteLine(bet.Description);
        }
    }

    private void DeleteBet()
    {
        Console.WriteLine("DeleteBet");
        Service.DeleteUser(51);
    }

    private void CreateBet()
    {
        Console.WriteLine("CreateBet");
        Service2.CreateBet(InitBet());
    }

    private void CreateBet2()
    {
        Console.WriteLine("CreateBet2");
        // create dummy bet
        Bet bet2 = new Bet();
        
        bet2.Title = "Titel2";
        bet2.Description = "This is a newwwwwww test description for a bet";
        bet2.InvitationCode = "LSDJFHSGAJDIEWU";
        bet2.Created = DateTime.Now;
        bet2.Expiration = DateTime.Now.AddYears(50);
        bet2.BetAccess = Access.Public;
        bet2.BetState = State.Pending;

        Console.WriteLine("bet locally created");
        try
        {
            Service2.CreateBet(bet2);
        }
        catch (Exception e)
        {
            Console.WriteLine("service failed");
        }
    }

    public Bet InitBet()
    {
        Bet bet = new Bet();
        bet.Title = "Titel";
        bet.Description = "This is a test description for a bet";
        bet.InvitationCode = "SDFHUKSNVBSHEIFWE";
        bet.Created = DateTime.Now;
        bet.Expiration = DateTime.Now.AddYears(50);
        bet.BetAccess = Access.Private;
        bet.BetState = State.Active;
        return bet;
    }
    
    //test for wageritems
    public void GetWagerItemByIdConsole()
    {
        try
        {
            var result = Service3.GetWagerItemById(47);
            Console.WriteLine(result.Money);
            Console.WriteLine(result.ItemDescription);
            Console.WriteLine(result.Id);
        }
        catch (Exception e)
        {
            Console.WriteLine("Getwageritembyid failed");
            Console.WriteLine(e);
        }
    }

    public void UpdateWagerItem()
    {
        WagerItem updatedWI = new WagerItem();
        updatedWI.Money = true;
        updatedWI.Amount = 10000;
        updatedWI.Item = false;
        updatedWI.ItemDescription = "";

        var result = Service3.UpdateWagerItem(updatedWI);
        Console.WriteLine($"Updating WagerItem succesful: {result}");
    }

    private void GetAllWagerItems()
    {
        Console.WriteLine("Get ALl WagerItems executing: ");
        var result = Service3.GetAllWagerItems();
        foreach (var wageritem in result)
        {
            Console.WriteLine(wageritem.Amount);
            Console.WriteLine(wageritem.ItemDescription); 
        }
    }

    private void DeleteWagerItem()
    {
        Console.WriteLine("DeleteWagerItem");
        Service3.DeleteWagerItem(51);
    }

    private void CreateWagerItem()
    {
        Console.WriteLine("CreateWagerItem");
        Service3.CreateWagerItem(InitWagerItem());
    }

    private void CreateWagerItem2()
    {
        Console.WriteLine("CreateWagerItem2");
        // create dummy user
        WagerItem wageritem2 = new WagerItem();
        
        wageritem2.Money = false;
        wageritem2.Amount = 0;
        wageritem2.Item = true;
        wageritem2.ItemDescription = "Testdescription2 für WagerItem";

        Console.WriteLine("wageritem locally created");
        try
        {
            Service3.CreateWagerItem(wageritem2);
        }
        catch (Exception e)
        {
            Console.WriteLine("service failed");
        }
    }

    public WagerItem InitWagerItem()
    {
        WagerItem wageritem = new WagerItem();
        wageritem.Money = true;
        wageritem.Amount = 300;
        wageritem.Item = true;
        wageritem.ItemDescription = "Das ist eine Testbeschreibung für ein Item";
        return wageritem;
    }
    
    // Tests for userwagers

    private void AddUserWager()
    {
        Console.WriteLine("CreateUserBet");
        Service4.CreateUserBet(InitUserWager());
    }

    private UserBet InitUserWager()
    {
        UserBet userwager = new UserBet();
        userwager.BetId = 2;
        userwager.UserId = 1;
        return userwager;
    }

    private void DeleteUserWager()
    {
        User testuser = new User();
        testuser.Email = "hallo@test.de";
        testuser.Name = "testuser";
        testuser.Password = "testpw";
        Bet testbet = new Bet();
        testbet.BetAccess = Access.Public;
        testbet.Description = "0";
        testbet.BetState = State.Active;
        testbet.Created = DateTime.Now;
        testbet.Expiration = DateTime.Today;
        Console.WriteLine("DeleteUserBet"); 
        Service4.DeleteUserBet(testuser, testbet);
    }

    private void DeleteUserWager2()
    {
        UserBet testuserwager = new UserBet();
        testuserwager.BetId = 5;
        testuserwager.UserId = 5;
        Console.WriteLine("DeleteUserBet");
        Service4.DeleteUserBet(testuserwager);
    }

    private void GetUserWagerById()
    {
        try
        {
            var result = Service4.GetUserBetById(8);
            Console.WriteLine(result.Id);
            Console.WriteLine(result.UserId);
            Console.WriteLine(result.BetId);
        }
        catch (Exception e)
        {
            Console.WriteLine("Getuserwagerbyid failed");
            Console.WriteLine(e);
        }
    }

    private void GetAllUserIdsFromBet()
    {
        Console.WriteLine("Get ALl UserIdsFromBet executing: ");
        var result = Service4.GetUserBetById(2);
        // foreach (var user in result)
        // {
        //     Console.WriteLine(user.UserId);
        // }
    }
}
