@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager navigation
@inject ICookieService cookieService;
@inject IJSRuntime jsRuntime;
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
Welcome to your new app.

@code {
    //AutoRedirect to the LoginPage
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        CookieService cookieServiceObj = new CookieService(jsRuntime);
        await cookieServiceObj.RedirectToLogin("CookieID" , navigation);
    }
}