@page "/invitation-code"
@rendermode InteractiveServer

<h3>Invitation Code</h3>

<div class="form-group">
    <label for="inviteCode">Invite Code:</label>
    <input @bind="inviteCode" class="form-control" id="inviteCode" placeholder="Enter your invitation code here..."/>
</div>

<button class="btn btn-primary" @onclick="SubmitCode">Submit</button>

@if (!string.IsNullOrEmpty(submittedCode))
{
    <p class="alert alert-success">Invite Code Submitted: @submittedCode</p>
}

@code {
    private string inviteCode { get; set; }
    private string submittedCode { get; set; }

    private void SubmitCode()
    {
        Console.WriteLine("SubmitCode method called");

        submittedCode = inviteCode;
    }

}