@page "/invitation-code"
@page "/invitation-code/{ParamInviteCode}"
@using WagerMate.Service_Implementation.auth
@using WagerMate.Service_Implementation.betting
@using WagerMate.Service_Implementation.user
@using WagerMate.Services.auth
@using WagerMate.Services.betting
@using WagerMate.Services.user
@rendermode InteractiveServer
@inject IBetService BetService
@inject ICaseService CaseService
@inject IUserBetService UserBetService
@inject ICookieService CookieService
@inject IUserService UserService
@inject NavigationManager Navigation

<div class="form-container">
    
    @if (!DisplayBetInputs)
    {
        <h2>Invitation Code</h2>

        <div class="form-group">
            <label for="inviteCode">Invite Code:</label>
            <input @bind="inviteCode" class="form-control" id="inviteCode" placeholder="Enter your invitation code here..."/>
        </div>

        <button class="submit-btn" @onclick="SubmitCode">Submit</button>
    }

    @if (DisplayBetInputs)
    {
        <h2>Submit Bet</h2>

        <div class="form-group">
            <label for="title">Title:</label>
            <InputText id="title" @bind-Value="_acceptedBet.Title" readonly class="no-border"></InputText>
        </div>

        <div class="form-group">
            <label for="description">Description:</label>
            <InputText id="description" @bind-Value="_acceptedBet.Description" readonly class="no-border"></InputText>
        </div>

        <div class="form-group">
            <label for="state">State:</label>
            <InputText id="state" @bind-Value="_betStateString" readonly class="no-border"></InputText>
        </div>

        <div class="form-group">
            <label for="moneyValue">Amount:</label>
            <input id="moneyValue" type="number" @bind="_moneyValue" />
        </div>

        <button class="submit-btn" @onclick="SubmitValues">Submit</button>
    }
</div>
    
@if (CreatedNewUserBet)
{
    <p class="alert alert-success">You are now participating in the bet!</p>
}

@code {
    //AutoRedirect to the LoginPage
    private bool _firstLogin = true;
    private User? _loggedInUser = new();
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await CookieService.RedirectToLogin("CookieID", Navigation);
        var value = await CookieService.GetCookieByName("CookieID");
        if (_firstLogin)
        {
            _loggedInUser = UserService.GetUserIfPasswordExists(value);
            if (_loggedInUser != null)
            {
                _firstLogin = false;
            }
        }
    }
    
    private string inviteCode { get; set; }
    private string submittedInviteCode { get; set; }
    private bool DisplayBetInputs { get; set; } = false;
    private int _moneyValue { get; set; }
    private Bet _acceptedBet { get; set; }
    private bool CreatedNewUserBet { get; set; }
    private string _betStateString { get; set; }

    private void SubmitCode()
    {
        submittedInviteCode = inviteCode;

        _acceptedBet = BetService.GetBetByInviteCode(submittedInviteCode);
        if (_acceptedBet == null)
        {
            submittedInviteCode = "No such code found";
            Console.WriteLine("Invite Code not found!");
            return;
        }

        if (_acceptedBet.BetState == State.Active) _betStateString = "Active";
        if (_acceptedBet.BetState == State.Closed) _betStateString = "Closed";
        if (_acceptedBet.BetState == State.Pending) _betStateString = "Pending";
        
        submittedInviteCode = "";
        DisplayBetInputs = true;
    }

    private void SubmitValues()
    {
        //create case
        Case tempCase = new Case();
        tempCase.Bet_Id = _acceptedBet.Id;
        tempCase.Casetype = "Money";
        tempCase.Id = CaseService.CreateCase(tempCase);
        //create userbet
        UserBet tempUserBet = new UserBet();
        tempUserBet.Bet_Id = _acceptedBet.Id;
        tempUserBet.User_Id = _loggedInUser.Id;
        tempUserBet.Amount = _moneyValue;
        tempUserBet.Case_Id = tempCase.Id;
        UserBetService.CreateUserBet(tempUserBet);
        
        CreatedNewUserBet = true;
    }
    
    [Parameter]
    public string? ParamInviteCode { get; set; }
    
    protected override void OnParametersSet()
    {
        if (ParamInviteCode != null)
        inviteCode = ParamInviteCode;
        StateHasChanged();
        Console.WriteLine("ParamInviteCode: " + ParamInviteCode);
    }

}
