.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba(255, 128, 0, 0.5);
    box-shadow: 0px 0px 16px 0px rgb(255 98 5 / 71%);
    width: auto;
    height: auto;
}

h1 {
    font-weight: bold;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

p{
    margin: initial;
    overflow: hidden;
}

.alert-success{
    background: #cbffba;
    margin: initial;
    text-align: center;
    margin-top: 10px;
}

.alert-danger{
    background: #ffc7bd;
    margin: initial;
    text-align: center;
    margin-top: 10px;
}

.form-group {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.form-group label {
    width: 20%;
    font-weight: bold;
    color: #555;
}

.form-group p {
    width: 80%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
}

.form-group input,
.form-group InputText {
    width: 80%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#betoptions{
    border: 1px solid black;
    width: 80%;
    height: 25px;
    border-radius: 5px;
}

.form-group input[type="number"] {
    width: 80%;
    border: 1px solid black;
    height: 25px;
}


.submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #ff8000;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: rgba(255, 128, 0, 0.5);
}

@media (max-width: 768px) {
    .form-group {
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .form-group label,
    .form-group p,
    .form-group input,
    #betoptions {
        width: 100%; 
        margin-left: 0; 
    }

    .form-group p,
    .form-group input,
    #betoptions {
        margin-top: 5px; 
    }
}
