@page "/logout"
@rendermode InteractiveServer
@inject ICookieService CookieService
@inject NavigationManager Navigation;

<div>
    <p>Logging out...</p>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await CookieService.DeleteCookie("CookieID");
        Navigation.NavigateTo("/login");
    }
}